body{
    background-color: #F4F1DE;
}
#header{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    border-bottom-style: groove;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F2CC8F;
    color: #292B3D;
}
#subheader{
    text-align: center;
}
#wrapper{
    display: grid;
    grid-template-columns: 1fr .5fr;
    column-gap: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#mapArea{
    height: 80vh;
}
#sidebar{
    display: grid;
    grid-template-rows: .1fr .5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "buttonHeader buttonHeader" "buttons buttons" "chart chart";
    row-gap: 1ch;
    height: 60vh;
}
#buttons{
    display: grid;
    grid-area: buttons;
    grid-template-columns: 1fr;
    overflow-y: auto;
    height: 100%;
    /* width: 50%; */
    
}
#lowIncomeResponse{
    grid-area: lowIncome;    
}
#covidAffectResponse{
    grid-area: covid;
}
#uclaHelpResponse{
    grid-area: ucla;
}
#responseBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "lowIncome covid ucla";
    column-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.response{
    text-align: center; 
    border: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    max-height: 150px;
    overflow-y: auto;
}
#buttonHeader{
    font-size: 20px;
    text-align: center;
    grid-area: buttonHeader;
}
#chart{
    grid-area: chart;
    text-align: center;
    font-size: 20px;
}
#footer{
    text-align: center;
}
